<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122347414924-qu08beevorvtol7aopg4a0et1oovola7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122347414924-qu08beevorvtol7aopg4a0et1oovola7</string>
	<key>API_KEY</key>
	<string>AIzaSyDO_4zg3rjHOH9gbMS7pXoV0-EhJqxcotE</string>
	<key>GCM_SENDER_ID</key>
	<string>122347414924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.houseasy.houseasyTesteFrontend</string>
	<key>PROJECT_ID</key>
	<string>houseasytest-c4b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>houseasytest-c4b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122347414924:ios:67ad0b64b1cc6c74ff62a9</string>
</dict>
</plist>